<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 input-form">
      <div class="icon">
        <i class="fa fa-user-circle-o fa-4x" aria-hidden="true"></i>
      </div>
      <mat-form-field>
        <input matInput placeholder="Email ID">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password">
      </mat-form-field>
      <div class="row">
        <div class="col-md-12 login-button">
          <button class="btn btn-primary" (click)="onLogin()">LOGIN</button>
        </div>
      </div>
    </div>
  </div>
</div>