.input-form {
    border: 0.5px solid gray;
    margin-top: 15%;
    border-radius: 5%;
}

.icon {
    color: gray;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center
}

.container {
    padding: 5px;
}

.login-button {
    text-align: center;
    margin-bottom: 5%;
}